<!-- <p>profile works!</p> -->
<div>
  <form>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required />
    <br />
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required />
    <br />
    <label for="bio">Bio:</label>
    <textarea id="bio" name="bio" required></textarea>
    <br />
    <label for="active">Active:</label>
    <input type="checkbox" id="active" name="active" />
    <br />
    <input type="submit" value="Submit" />
  </form>
</div>
